* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

/* header 영역 */

.header {
    background: #20232a;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header > h1 {
    color: aqua;
    font-size: 20px;
}

/*  content 영역 */

.content {
    max-width: 1000px;
    margin: 0 auto;
}

.content thead > tr:first-child {
    font-size: 40px;
    font-weight: bold;
}

.content .input-card {
    margin-top: 200px;
}

.content input{
    width: 600px;
    height: 50px;
    border: none;
    outline: none;
    font-size: 32px;
    border-bottom: 1px solid rgb(79, 82, 81);
    transition: 2s border;
}